.StaticCart__totalCustomer{
    display: flex;
    justify-content: space-between;
}
.StaticCart__totalCustomerTotal--number{
    font-size: 40px;
    padding-left: 10px;
    color: white;
    font-weight: 600;
}
.StaticCart__totalCustomerTotal--title{
    color: white;
    font-size: 18px;
    padding-left: 10px;

}
.StaticCart__Left{
    background-color: rgb(20, 159, 188);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.StaticCart__totalCustomer--link{
    background-color: #128FA9;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    width: 100%;
    color: #D0E9EE;
}
.StaticCart__totalCustomer--link:hover{
    background-color: #1187A0;
    color: white;
}
.StaticCart__totalCustomerIcon {
    font-size: 60px;
    opacity: 0.5;
    padding-right: 20px;
    transition: 0.5s;
}
.StaticCart__Left:hover .StaticCart__totalCustomerIcon{
    transform: scale(1.2);
    transition: 0.5s;

}
.StaticCart__totalCustomerTotal--admin{
    padding-left: 10px;
    color: white;
}